// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.gen-btn{
        background-color: #e4ebee;
        outline: none;
        border: none;
}
.gen-text{
        color: #00afef;
}
.gen-link{
        text-decoration: none;
}
.gen-link:hover{
        color: #00afef;
        text-decoration: underline;
}
.display-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.gen-shadow{
        box-shadow: 0px -2px 10px 7px rgba(230, 233, 233, 0.6);
}