// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.gen-btn{
        background-color: #e4ebee;
        outline: none;
        border: none;
}
.gen-text{
        color: #00afef;
}
.gen-link{
        text-decoration: none;
}
.gen-link:hover{
        color: #00afef;
        text-decoration: underline;
}