.logo{

}
.user-profile{}

.logo:hover,.user-profile:hover{
    background-color: #e4ebee;
    /* opacity: .5; */
}
.nav-link{
    /* color: rgb(219, 47, 47); */
}
.nav-link:hover,.nav-link:active{
    background-color: #e4ebee;
    color: "#00afef";
}

ul{
    list-style-type: none !important;
}
.nav-search{
    background-color: #e4ebee;
    
}
.nav-search:active{
    border: 2px solid rgb(238, 230, 230);
}
.search-input{
    background-color: #e4ebee;
    border: none;
    outline: none;
    width: 85%;
}
.search-input::placeholder{
    color: rgb(160, 152, 152);
    font-size: 15px;
}
.search-btn{color: gray;
    /* height: 30px;
    width: 30px; */
}
.search-btn:hover{
    background-color: lightgrey;
    border: none;
    outline: none;
    
}
.segment-btn{
    background-color: #e4ebee;
    outline: none;
    border: none;
}
.segment-btn:hover{
    background-color: lightgray;
}
.segment-btn:active{
    border: 2px solid rgb(240, 234, 234);
}
.topnav-link{
    text-decoration: none;
    color: blue;
    font-size: 12px;
    font-weight: lighter;
}
.topnav-link:hover{
    text-decoration: underline;
}
